<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:200px; margin:0 auto; margin-top:250px;">
    <form action="/answerQuestion" method="POST">
        <li th:text="${questionList.question}"></li>
        <input name="answer" id="answer" placeholder="answer" required>
        <button style="margin-top: 20px;color: white; margin-left: 70px; background-color:#3f50b5">Next</button>
    </form>
</div>
</body>
</html>